---
const { text } = Astro.props;
---

<button
    class="bg-purple-600 px-8 py-4 rounded-full font-semibold transition-colors duration-300"
    id="gmail-button"
>
    {text}
</button>

<script is:inline>
    const btn = document.getElementById("gmail-button");
    function openGmail() {
        const email = "innova.contact@gmail.com";
        const subject = "Solicitud de Cotización";
        const body = "Hola, me interesa solicitar una cotización para:";

        // URL para Gmail web
        const gmailUrl = `https://mail.google.com/mail/?view=cm&to=${email}&su=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;

        window.open(gmailUrl, "_blank");
    }
    btn?.addEventListener("click", openGmail);
</script>
